.app {
  padding: 50px;
  font-size: 28px;
}
.app__actor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 35px;
}
.skills {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}

.mode {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  display: flex;
}
.envelope__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.mode__buttom {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.badge {
  margin-left: 7px;
}

.css-1j529ay {
  background: #2a4365 !important;
  text-align: center;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills__title {
  font-size: 28px;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 16px;
  }
  .app__actor {
    width: 90vw;
  }
  .chakra-fade {
    font-size: 14px;
  }
  .app__actor {
    padding: 75px 17px;
    font-size: 24px;
  }
  .css-1j529ay {
    padding: 20px 9px;
  }
  .css-t02unw,
  span.css-5sd03k {
    margin-right: 1rem;
  }
}

/* Portfolio */
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  flex-direction: column;
  font-weight: 500;
  padding: 80px;
}

.portfolio__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio__item__1,
.portfolio__item__2,
.portfolio__item__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}

.portfolio__item__buttons {
  margin-top: 20px;
  display: flex;
}
.portfolio__item__buttons button {
  margin: 5px;
}
.portfolio__item__title {
  padding: 8px;
}

@media screen and (min-width: 900px) {
  .portfolio__item__1,
  .portfolio__item__2,
  .portfolio__item__3 {
    padding: 50px;
  }
  .portfolio {
    padding: 120px !important;
  }
}

Button.resume {
  font-weight: 500;
}
button.chakra-button.poppins.css-7vm6ds,
button.chakra-button.css-u3wv0a {
  font-weight: 500;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}
