.app {
  padding: 50px;
  font-size: 28px;
}
.app__actor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 35px;
  font-size: 33px;
}
.skills {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}

.mode {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  display: flex;
}

.badge {
  margin-left: 7px;
}

.css-1j529ay {
  background: #2a4365 !important;
  text-align: center;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills__title,
.contact__title {
  font-size: 29px;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 16px;
  }
  .app__actor {
    width: 90vw;
  }
  .chakra-fade {
    font-size: 14px;
  }
  .app__actor {
    padding: 75px 17px;
    font-size: 24px;
  }
  .css-1j529ay {
    padding: 20px 9px;
  }
  .css-t02unw,
  span.css-5sd03k {
    margin-right: 1rem;
  }
}

/* Portfolio */
.portfolio,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  flex-direction: column;
  font-weight: 500;
  padding: 80px;
}

.portfolio__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio__item__1,
.portfolio__item__2,
.portfolio__item__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}

.portfolio__item__buttons {
  margin-top: 20px;
  display: flex;
}
.portfolio__item__buttons button {
  margin: 5px;
}
.portfolio__item__title {
  padding: 8px;
}

@media screen and (min-width: 900px) {
  .portfolio__item__1,
  .portfolio__item__2,
  .portfolio__item__3 {
    padding: 50px;
  }
  .portfolio,
  .contact {
    padding: 120px !important;
  }
}
/* ipad pro */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .skills__container {
    flex-wrap: nowrap !important;
  }
  /* ... */
}

Button.resume {
  font-weight: 500;
}
button.chakra-button.poppins.css-7vm6ds,
button.chakra-button.css-u3wv0a {
  font-weight: 500;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px 0px;
  text-align: center;
}

.contact__form__control {
  margin: 15px 0px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(165, 165, 165);
  outline: none;
  background: none;
  border-radius: 10px;
}

textarea {
  margin: 8px 0 !important;
  padding: 12px 20px !important;
}

@media screen and (max-width: 600px) {
  .skills__container {
    flex-direction: column;
  }
  .skills__title,
  .contact__title {
    font-size: 22px;
    text-align: center;
  }
}

.email__container,
.name__container,
.message__container {
  margin: 8px !important;
}
